
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutTransaction.cshtml";
}
@Html.AntiForgeryToken()
<head>
    <style>
        .span30 {
            padding-left: 30px;
        }
        .box-smaller {
            height: 25px;
        }
        .box-md {
            height: 35px;
        }
        .intro-section1 {
            position: relative;
        }

            .intro-section1, .intro-section1 .container .row {
                height: 13vh;
                min-height: 90px;
                background-color: #01426a;
            }

        .intro-section:before {
            content: "";
            position: absolute;
            height: 10%;
            width: 100%;
            border-bottom-right-radius: 0px;
        }

        @*@media (max-width: 991.98px) {
            .intro-section:before {
                width: 100%;
            }
        }

        *@
        .intro-section1 h1 {
            font-size: 3rem;
            font-weight: 900;
            color: #fff;
        }

        .intro-section1 p {
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.1rem;
            max-width: 400px;
        }

    </style>
</head>
<div class="intro-section1" id="home-section">
    <div class="container">
        <div class="row ">
        </div>
    </div>
</div>
<div style="padding:10px;font-size:smaller;background-color:#b6cafa">
    <div class="row" style="padding:10px 10px 10px 10px">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" id="divSuccess" style="background-color:white;padding:10px">
            <div class="">
                <div class="text-center">
                    <h4 style="color:#01426a"><strong>Start Transaction</strong></h4>
                    <h7 style="color:#2b4565">Please fill up the form with correct informations.</h7>

                </div>
            </div>
            <br />
            <div>
                <div class="form-group">
                    <label>I am:</label>
                    @Html.DropDownList("RoleID", (SelectList)ViewBag.UserRoleName, new { @class = "col-sm-2 box-smaller" }) in this transaction.
                    <div class="text-danger" id="roleerror"></div>
                </div>
            </div>
            <div id="buyerDiv">
                <div class="form-group">
                    <label class="control-label" style="color:black"><b>Name of buyer/Company</b></label><span class='text-danger'>*</span><br />
                    <input id="firstName" class="col-sm-6 box-smaller" placeholder="First Name" /><input id="LastName" class="col-sm-6 box-smaller" placeholder="Last Name" />
                    <div class="text-danger"  id="nameerror"></div>

                </div>
                <div class="form-group">
                    <label class="control-label" style="color:black"><b>Email(buyer)</b></label><span class='text-danger'>*</span>
                    <input id="buyeremail" class="col-sm-12 box-smaller" placeholder="Email" />
                    <div class="text-danger"  id="bemailerror"></div>

                </div>
            </div>

            <div id="SellerDiv" hidden>
                <div class="form-group">
                    <label class="control-label" style="color:black"><b>Seller email</b></label><span class='text-danger'>*</span>
                    <input id="selleremail" class="col-sm-12 box-smaller" placeholder="Email" />
                    <div  class="text-danger" id="semailerror"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" style="color:black"><b>Item</b></label><span class='text-danger'>*</span>
                <input id="itemName" class="col-sm-12 box-smaller" placeholder="Item" />
                <div  class="text-danger" id="itemerror"></div>
            </div>
            <div class="form-group">
                <label class="control-label" style="color:black"><b>Amount</b></label><span class='text-danger'>*</span>
                <input id="amount" class="col-sm-12 box-smaller" placeholder="Amount" type="number" />
                <div class="text-danger"  id="amounterror"></div>
            </div>
            <div class="form-group">
                <label class="control-label" style="color:black"><b>Description of item</b></label><span class='text-danger'>*</span>
                <input id="descriptionOfItem" class="col-sm-12 box-smaller" placeholder="e g 30 square meters of synthenic glass" />  
                <div class="text-danger"  id="deserror"></div>

            </div>
            <div class="form-group">
                <label class="control-label"><b>Delivery Type</b></label><span class='text-danger'>*</span>
                <div>
                    @Html.DropDownList("DeliveryTypeID", (SelectList)ViewBag.DeliveryType, "Select Delivery Type", new { @class = "col-sm-12 box-smaller" })
                </div>
                <div class="text-danger"  id="dtypeerror"></div>
            </div>
            <div class="form-group" id="deliveryfeeDiv" hidden>
                <label class="control-label" style="color:black"><b>Delivery Charge</b></label>
                <input id="deliveryfee" class="col-sm-12 box-smaller" placeholder="Delivery fee" type="number" />    
                <div  class="text-danger" id="feeerror"></div>

            </div>

            <div class="form-group">
                <label class="control-label" style="color:black"><b>Delivery Window</b></label>
                <div>
                    @Html.DropDownList("DeliveryWindowID", (SelectList)ViewBag.DeliveryWindow, new { @class = "col-sm-12 box-smaller" })
                </div>
                <div class="text-danger"  id="windowerror"></div>

            </div>
            <div class="form-group" id="deliverywindowDiv" hidden>
                <label class="control-label" style="color:black"><b>Delivery Window(Days)</b></label>
                <input id="deliverytime" class="col-sm-12 box-smaller" type="number" />
                <div class="text-danger"  id="timeerror"></div>

            </div>
            <div class="form-group">
                <label class="control-label" style="color:black"><b>Terms of Return</b></label><span class='text-danger'>*</span>
                <input id="TermsOfReturns" class="col-sm-12 box-smaller" />
                <div class="text-danger"  id="termserror"></div>

            </div>

            <div class="form-group">
                <label class="control-label" style="color:black"><b>Upload products(Maximum 5 files)</b></label>
                <br />
                <input id="browse" type="file" name="files" multiple>
                <div id="preview" style="padding:4px"></div>
                <div id="previewRemove" style="padding:4px"> </div>

            </div>
            @*<div class="form-group">
                    <label class="control-label"><b>Name/Company of Seller</b></label>
                    @Html.TextBoxFor(m => m.SellerName, new { @class = "col-sm-12 box-smaller", @placeholder = "Seller Name", disabled = "disabled" })
                </div>
                <div class="form-group">
                    <label class="control-label"><b>Sellers Email</b></label>
                    @Html.TextBoxFor(m => m.SellerEmail, new { @class = "col-sm-12 box-smaller", @placeholder = "Seller Email", disabled = "disabled" })
                </div>
                <div class="form-group">
                    <label class="control-label"><b>Seller ID</b></label>
                    @Html.TextBoxFor(m => m.SellerID, new { @class = "col-sm-12 box-smaller", @placeholder = "Seller ID", disabled = "disabled" })

                </div>*@
        <div class="form-group">
            <label class="control-label" style="color:black"><b>Summery</b></label><span class='text-danger'>*</span><br />
            <input id="summeryID" type="checkbox" /> View Summery
            <div class="text-danger"  id="summeryerror"></div>

        </div>
            <div class="form-group">
                <div id="replaceDiv"></div>
            </div>
            <div>
                <h5><b>TERMS & CONDITIONS</b></h5>
                <p>
                    I hereby agree to send the product(s) as seen and agreed by the buyer. AGI reserves the right to withhold funds if the buyer prooves that product(s) received is not same as agreed or seen by buyer.
                </p>
            </div>
            <div class="form-group" id="confirmDiv">
                <input id="genLink" type="submit" value="Generate Link" class="btn btn-danger" />
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<script src="~/CustomScripts/TransactionManager.js"></script>
<script>
    $(document).ready(function () {
        $("#genLink").click(function (e) {
            if (TransactionManager.CreateValidation() === true) {
                $("#confirmDiv").empty();
                $("#confirmDiv").append("<div class=\"text-center text-success\">Please wait. <p class=\"text-danger\">This Will take a while.</p></div>");
                TransactionManager.InsertTransaction();
            }
        });
        $("#browse").change(function (e) {
            var files = e.target.files;
            var totalfiles = document.getElementById('browse').files.length;
            if (totalfiles > 5) {
                var templates = '<p style="color:red">Maximum 5 files allowed.</p>';
                $("#previewRemove").append(templates);
                $("#browse").val("");
            }
            else {
                $.each(files, function (i, file) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function (e) {

                        var template = '<div style="padding:10px;"><img  height="100" width=""130 src="' + e.target.result + '"/></div>';
                        $("#preview").append(template);
                    };
                });
                $("#previewRemove").empty();
                var templates = '<button onclick="ImageManager.RemoveContentMultiple()" class="btn btn-danger">Clear all</button>';
                $("#previewRemove").append(templates);
            }

        });
        $("#RoleID").change(function (e) {
            if ($("#RoleID").val() === "2") {
                $('#SellerDiv').removeAttr('hidden');
                $('#buyerDiv').attr('hidden', true);
            }
            if ($("#RoleID").val() === "1") {
                $('#buyerDiv').removeAttr('hidden');
                $('#SellerDiv').attr('hidden', true);
            }
        });
        $("#DeliveryWindowID").change(function (e) {
            if ($("#DeliveryWindowID").val() === "15") {
                $('#deliverywindowDiv').removeAttr('hidden');
            }
            else {
                $('#deliverywindowDiv').attr('hidden', true);
            }
        });
        $("#DeliveryTypeID").change(function (e) {
            if ($("#DeliveryTypeID").val() === "2") {
                $('#deliveryfeeDiv').removeAttr('hidden');
            }
            if ($("#DeliveryTypeID").val() === "1") {
                //$("#delete").prop("hidden", !this.checked);

                $('#deliveryfeeDiv').attr('hidden', true);
            }
        });
        $("#summeryID").click(function () {
            if ($("#amount").val() == '' || $("#DeliveryTypeID").val() == '') {
                $("#replaceDiv").empty();
                $("#replaceDiv").append("<div class=\"text-center text-danger\"><b>Please fill-up the form first.</b></div>");
                $("#summeryID").prop("checked", false);
            }
            if ($("#amount").val() != '' || $("#DeliveryTypeID").val() != '') {
                if ($('#summeryID').is(":checked")) {
                    $("#replaceDiv").empty();
                    $("#replaceDiv").append("<div class=\"text-center text-success\">Please wait. <p class=\"text-danger\">This Will take a while.</p></div>");
                    TransactionManager.ViewSummery();
                    //$("#replaceDiv").empty();
                    //$("#replaceDiv").append("<div class=\"text-center text-danger\"><b>Please fill-up the form first.</b></div>");
                }
                else if ($('#summeryID').not(":checked")) {
                    $("#replaceDiv").empty();
                }
            }

        });

    });






</script>